<div webgl-canvas canvas-class="collage-display" class="collage-display-holder"></div>

<div class="collage-controls">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
  <input type="range" ng-model="lodBias" min="-2", max="1" step="0.05"></input>{{lodBias}}<br>
  <input type="range" ng-model="zDistance" min="-10", max="0" step="0.05"></input>{{zDistance}}<br>
  <input type="range" ng-model="gamma" min="0", max="10" step="0.01"></input>{{gamma}}<br>
  Active tiles: {{activeTiles}}<br>
</div>
